<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>UTP Note Share</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gray-200">
<!--This is technically not needed anymore since by default browsers will request for favicon.ico,
spring will look for it in resources/static-->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link href="./output.css" rel="stylesheet">
<header class="h-20 bg-sky-800 border-b flex items-center px-6">

    <div class="flex justify-between w-full px-4 py-2">
        <div id="nameplate" class="flex flex-col justify-center">
            <h1 class="font-sans text-2xl tracking-tighter text-white">UTP Note Share</h1>
            <div class="flex gap-1">
                <h1 class="font-sans text-xs tracking-tighter text-white">Project by</h1>
                <a class="font-sans text-xs tracking-tighter text-white hover:text-sky-400"
                   href="https://github.com/Toostew" target="_blank">Toostew</a>
            </div>
        </div>

        <a id="loginandsignout"
           class="flex items-center gap-2 rounded-md bg-gray-200 px-3 py-0.5 hover:bg-gray-400 transition-all cursor-pointer"
           th:href="@{/login}">
            <!--sec:authorize to check if user is authenticated or not. If not, show login. If yes, show username-->
            <span sec:authorize="!isAuthenticated()"
                  class="text-sm leading-none ">
                    login / sign up
            </span>

            <span sec:authorize="isAuthenticated()"
                  class="text-sm leading-none">
                    <span sec:authentication="name"></span>
            </span>
            <div id="pfp" class="w-6 h-6 flex-shrink-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg"
                     id="profilePic"
                     class="object-cover w-full h-full rounded-full border border-gray-300">
            </div>
        </a>
    </div>


</header>

<div class="flex">
    <aside class="w-40 bg-white border-r min-h-screen p-1 flex flex-col gap-0.5">
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/}">
            <p>Main Menu</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/view-categories}">
            <p>View</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/upload}">
            <p>Upload</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/statistics}">
            <p>Statistics</p>
        </a>
    </aside>


    <main class="flex-1 p-4 space-y-4 max-w-4xl w-full">
        <h1 class="text-3xl font-mono tracking-tight">
            Da Secret admin panel
        </h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div th:each="fileRecord : ${filteredList}">
                <a th:href="@{/view/{id}(id=${fileRecord.id})}" >
                    <div class="flex-1 flex p-1 aspect-square overflow-hidden">
                        <img class="object-cover w-full h-full" th:src="@{/render/{id}(id=${fileRecord.id})}">
                    </div>
                    <div class="w-full h-full p-2 gap-1 overflow-hidden">
                        <p  class="text-base " th:text="${fileRecord.original_name}"></p>

                        <p th:text="'Id: ' + ${fileRecord.id}"></p>
                        <p th:text="'Type: ' + ${fileRecord.content_type}"></p>
                        <p th:text="'Date: ' + ${fileRecord.date_created}"></p>
                    </div>
                    <div class="flex flex-row space-x-1">
                        <form th:action="@{/file-verify/process/delete}" method="post">
                            <input type="hidden" name="delete" th:value="${fileRecord.id}">
                            <button type="submit" class="text-white rounded-md bg-red-600 p-4">Delete</button>
                        </form>
                        <form th:action="@{/file-verify/process/accept}" method="post">
                            <input type="hidden" name="accept" th:value="${fileRecord.id}">
                            <button type="submit" class="text-white rounded-md bg-blue-500 p-4">Accept</button>
                        </form>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
</body>
</html>