<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>UTP Note Share</title>
    <!--for some fucking reason it wont work unless the cdn is available even though tailwind CLI is up-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--TODO:add a proper script to prevent uploads that are above 25MB that shows the error page-->
</head>
<body class="min-h-screen bg-gray-200">
<header class="h-20 bg-sky-800 border-b flex items-center px-6">

    <div class="flex justify-between w-full px-4 py-2">
        <div id="nameplate" class="flex flex-col justify-center">
            <h1 class="font-sans text-2xl tracking-tighter text-white">UTP Note Share</h1>
            <div class="flex gap-1">
                <h1 class="font-sans text-xs tracking-tighter text-white">Project by</h1>
                <a class="font-sans text-xs tracking-tighter text-white hover:text-sky-400"
                   href="https://github.com/Toostew" target="_blank">Toostew</a>
            </div>
        </div>

        <a id="loginandsignout"
           class="flex items-center gap-2 rounded-md bg-gray-200 px-3 py-0.5 hover:bg-gray-400 transition-all cursor-pointer"
           th:href="@{/login}">
            <!--sec:authorize to check if user is authenticated or not. If not, show login. If yes, show username-->
            <span sec:authorize="!isAuthenticated()"
                  class="text-sm leading-none ">
                    login / sign up
            </span>

            <span sec:authorize="isAuthenticated()"
                  class="text-sm leading-none">
                    <span sec:authentication="name"></span>
            </span>
            <div id="pfp" class="w-6 h-6 flex-shrink-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg"
                     id="profilePic"
                     class="object-cover w-full h-full rounded-full border border-gray-300">
            </div>
        </a>
    </div>

</header>

<div class="flex">
    <aside class="w-40 bg-white border-r min-h-screen p-1 flex flex-col gap-0.5">
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/}">
            <p>Main Menu</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/view-categories}">
            <p>View</p>
        </a>
        <a class="w-full h-20 border p-2 bg-gray-200 font-mono text-lg">
            <p>Upload</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/statistics}">
            <p>Statistics</p>
        </a>
    </aside>

<!--every child of the parent class main cannot exceed it's parent. we've set the max width of 4xl so it can shrink but never surpass 4xl-->
    <main class="flex-1 p-4 space-y-4 max-w-4xl ">
        <h1 class="text-3xl font-mono tracking-tight">
            Upload
        </h1>

        <h1 class="text-base font-mono tracking-tight">
            Currently, you can only upload files one at a time. Multiple file uploads will be implemented soon.
        </h1>

        <form th:action="@{/fileReceived}" method="post" enctype="multipart/form-data"
              class="max-w-full mx-auto mt-10 p-6 bg-white rounded-2xl shadow-md space-y-4">


            <input class="block w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-4
               file:rounded-md file:border-0
               file:text-sm file:font-semibold
               file:bg-blue-50 file:text-blue-700
               hover:file:bg-blue-100" id="file_input" type="file" name="file" accept="image/*,application/pdf">

            <div class="flex-row w-full">
                <label></label>
                <select name="courseId" required class="border-0 bg-gray-200 rounded-md">
                    <option value="" disabled selected>
                        --choose a course--
                    </option>
                    <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}">
                    </option>
                </select>
                <input name="tags" type="text" class="bg-gray-200 rounded-xs" placeholder="comma-delimited tag list"></input>
            </div>


            <button type="submit"
                    class="min-w-full py-2 px-4  bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
                Upload File
            </button>
            <p class="mt-1 text-sm" id="file_input_help">Max file size of 25MB</p>
        </form>
        <p th:if="${error}"
           th:text="${error}"
           class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"></p>


    </main>
</div>
</body>
</html>