<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>UTP Note Share</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gray-200 flex flex-col">
<header class="h-20 bg-sky-800 border-b flex items-center px-6">

    <div class="flex justify-between w-full px-4 py-2">
        <div id="nameplate" class="flex flex-col justify-center">
            <h1 class="font-sans text-2xl tracking-tighter text-white">UTP Note Share</h1>
            <div class="flex gap-1">
                <h1 class="font-sans text-xs tracking-tighter text-white">Project by</h1>
                <a class="font-sans text-xs tracking-tighter text-white hover:text-sky-400"
                   href="https://github.com/Toostew" target="_blank">Toostew</a>
            </div>
        </div>

        <a id="loginandsignout"
           class="flex items-center gap-2 rounded-md bg-gray-200 px-3 py-0.5 hover:bg-gray-400 transition-all cursor-pointer"
           th:href="@{/login}">
            <!--sec:authorize to check if user is authenticated or not. If not, show login. If yes, show username-->
            <span sec:authorize="!isAuthenticated()"
                  class="text-sm leading-none ">
                    login / sign up
            </span>

            <span sec:authorize="isAuthenticated()"
                  class="text-sm leading-none">
                    <span sec:authentication="name"></span>
            </span>
            <div id="pfp" class="w-6 h-6 flex-shrink-0">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg"
                     id="profilePic"
                     class="object-cover w-full h-full rounded-full border border-gray-300">
            </div>
        </a>
    </div>

</header>
<!--this is the category specific view, should only see files-->
<div class="flex flex-1 items-stretch overflow-hidden">
    <aside class="w-40 bg-white border-r p-1 flex flex-col gap-0.5">
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/}">
            <p>Main Menu</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/view-categories}">
            <p>View</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/upload}">
            <p>Upload</p>
        </a>
        <a class="w-full h-20 border p-2 hover:bg-gray-200 transition font-mono text-lg" th:href="@{/statistics}">
            <p>Statistics</p>
        </a>
    </aside>


    <main class="flex-1 p-4 space-y-4 max-w-full min-w-3xl overflow-y-visible">
        <h1 class="text-3xl font-mono tracking-tight" th:text="${course.name}"></h1>

        <div class="grid gap-4 [grid-template-columns:repeat(auto-fill,200px)] justify-start">
            <div class="bg-white rounded-md shadow-md border hover:bg-gray-200 hover:opacity-90 transition"
                 th:each="fileRecord : ${fileRecordsInCourse}">

                <a th:href="@{/view/{id}(id=${fileRecord.id})}">
                    <div class="flex p-1 aspect-square overflow-hidden">
                        <img class="object-cover w-full h-full"
                             th:src="@{/thumbnail/render/{id}(id=${fileRecord.id})}">
                    </div>

                    <div class="p-2 gap-1 overflow-hidden text-sm">
                        <p class="truncate" th:text="${fileRecord.original_name}"></p>
                        <p th:text="'Id: ' + ${fileRecord.id}"></p>
                        <p th:text="'Type: ' + ${fileRecord.content_type}"></p>
                        <p th:text="'Date: ' + ${fileRecord.date_created}"></p>
                        <div class="flex flex-wrap gap-1 mt-1">
                            <span class="text-xs font-medium text-gray-500">Tags:</span>
                            <span th:each="tag : ${fileRecord.tags}"
                                  th:text="${tag.getTag_name()}"
                                  class="inline-block px-2 py-0.5 bg-blue-100 text-blue-800 rounded-full text-[10px]">
                            </span>
                        </div>

                    </div>
                </a>

            </div>
        </div>
    </main>
</div>
</body>
</html>