<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UTP Note Share</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gray-200">
<header class="h-20 bg-sky-800 border-b flex items-center px-6">

    <div class="items-center flex-column">
        <h1 class=" font-sans text-2xl tracking-tighter text-left text-white">UTP Note Share</h1>
        <div class="flex gap-0.5">
            <h1 class=" font-sans text-xs tracking-tighter text-white">Project by</h1>
            <a class=" font-sans text-xs tracking-tighter text-white hover:text-sky-400" href="https://github.com/Toostew" target="_blank">Toostew</a>
        </div>
    </div>

</header>

<div class="flex min-h-screen">
    <aside class="w-40 bg-white border-r  p-1 flex flex-col gap-0.5">
        <div class="w-full h-20 border p-2 hover:bg-gray-200 hover:underline font-mono text-lg">
            <a class="hover:text-sky-600" th:href="@{/}">Main Menu</a>
        </div>
        <div class="w-full h-20 border p-2 bg-gray-200 hover:underline font-mono text-lg">
            <a>View</a>
        </div>
        <div class="w-full h-20 border p-2 hover:bg-gray-200 hover:underline font-mono text-lg">
            <a class="hover:text-sky-600" th:href="@{/upload}">Upload</a>
        </div>
        <div class="w-full h-20 border p-2 hover:bg-gray-200 hover:underline font-mono text-lg">
            <a class="hover:text-sky-600" th:href="@{/statistics}">Statistics</a>
        </div>
    </aside>


    <main class="flex-1 p-4 space-y-4 max-w-full min-w-3xl">
        <h1 class="text-3xl font-mono tracking-tight">
            View Files
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class=" bg-white rounded-md shadow-md border h-128" th:each="FileRecord : ${ObjectList}">
                <div class="flex-1 flex p-1 h-96 overflow-hidden">
                    <img th:src="@{/render/{id}(id=${FileRecord.id})}" class="object-cover w-full h-full">
                </div>
                <div class="w-full h-full p-2 gap-1 overflow-hidden">
                    <a th:href="@{/view/{id}(id=${FileRecord.id})}" class="text-base hover:text-sky-500 " th:text="'Name: '+${FileRecord.original_name}"></a>
                    <p class="text-base " th:text="'Date: '+${FileRecord.date_created}"></p>
                </div>
            </div>
        </div>





    </main>
</div>
</body>
</html>